.about-us__title{
  margin-top: 31px;
  @media (min-width:@tablet-width){
    margin-top: 68px;
  }
  @media (min-width:@desktop-width){
    margin-top: 80px;
  }
}
.about-us__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width:@desktop-width){
    max-width: @tablet-width;
    margin: 0 auto;
  }
}
.info-list__item{
  display: block;
  max-width: 325px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-top: 35px;
}
.about-us__img-green{
  margin-top: 30px;
}
