.about-us {
  position: relative;

//---------------------зигзаги-----//
    &::before {
      position: absolute;
      content: url("");
      background-image: url("../img/my-zig-zag-2-mobile.svg");
      background-repeat: repeat-x;
      background-size: 16px  6px;
      left: 0;
      right: 0;
      top: -30px;

    @media (min-width: @tablet-width){

      background-image: url("../img/my-zig-zag-2.svg");
      background-repeat: repeat-x;
      background-size: 39px 17px;
      top: -73px;

    }
    @media (min-width: @desktop-width){
      background-size: 53px 23px;
    }
  }
}

.about-us__title{
  margin-top: 43px;
  margin-left: 30px;
  @media (min-width:@tablet-width){
    margin-top: 68px;
    margin-left: 0;
  }
  @media (min-width:@desktop-width){
    margin-top: 80px;
  }
}
.about-us__list{
  max-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0;

  @media (min-width:@desktop-width){
    max-width: @tablet-width;
    margin: 0 auto;
  }
}
.info-list__item{
  display: block;
  max-width: 300px;

}
.info-list__text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  @media (min-width: @tablet-width){
    font-size: 20px;
  line-height: 22px;
  }
}

.about-us__img-green{
  margin-top: 30px;
  margin-bottom: 20px;
}
.img-1{
  margin-top: 1px;
  @media (min-width: @tablet-width){
    margin-bottom: 24px;
  }

}
.img-2{
  margin-bottom: 40px;
  @media (min-width: @tablet-width){
    margin-bottom: 24px;
    margin-top: 75px;
  }

}
.img-3{
  margin-bottom: 24px;
  @media (min-width: @tablet-width){}
  margin-top: 59px;
}
.img-4{
  @media (min-width: @tablet-width){}
  margin-top: 12px;
}
.img-5{
  margin-bottom: 28px;
  @media (min-width: @tablet-width){}
  margin-top: 58px;
}
.img-6{
margin-bottom: 24px;
@media (min-width: @tablet-width){}
  margin-top: 59px;
}

