.catalog{

  @media (min-width: @desktop-width){
    margin-top: 110px;
  display: flex;
  justify-content: space-between;
  }
}
.catalog__main-title{
  position: relative;
  width: 100%;
  height: 177px;
  background-color: @lightgrey;
  padding-top: 20px;
  z-index: -1;
  @media (min-width: @tablet-width){
    height: 238px;
  }
  @media (min-width: @desktop-width){
    height: 272px;
  }

  &::after {
    @media (min-width: @tablet-width){
    position: absolute;
    content: url("");
    background-image: url("../img/my-zig-zag.svg");
    background-repeat: repeat-x;
    background-size: 42px 24px;
    bottom: 0;
    left: 0;
    right: 0;

    }
    @media (min-width: @desktop-width){
      background-size: 63px 36px;
    }
  }
}
.catalog__title{
  margin: 58px auto 74px;
  text-align: center;
  @media (min-width: @tablet-width){
    margin-top: 95px;
  }
}

.catalog{
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: @tablet-width){
    margin-top: 67px;
    padding-left: 50px;
  padding-right: 50px;
  }
  @media (min-width: @desktop-width){
    margin-top: 111px;
  }
}
.catalog__card-product{
  margin-top: 30px;
  display: grid;
  gap: 0;

@media (min-width: @tablet-width){
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
  @media (min-width: @desktop-width){
    display: flex;
    flex-direction: column;
    width: 316px;
}
}
.catalog__card-product-photo {
  object-fit: cover;
 min-width: 260px;
 @media (min-width: @tablet-width){
  max-width: 334px;

 }
 @media (min-width: @desktop-width){
  max-width: 316px;


}
}


.catalog__card-product-inner{
padding: 27px;
border: 1px solid #ECECEC;

  @media (min-width: @tablet-width){
grid-column: 2/3;
padding: 21px;
width: 335px;
}
@media (min-width: @desktop-width){
  padding: 27px;
}
}

.catalog__card-product-title{
font-weight: 700;
font-size: 17px;
line-height: 24px;

@media (min-width: @tablet-width){
  margin-top: 0;
}
}
.catalog__card-product-title:hover{
  opacity: 0.6;
}
.catalog__card-product-title:active{
  opacity: 0.3;
}

.catalog__card-product-info{
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin-top: 6px;
  padding-bottom: 17px;
}

.card-product-price__inner{
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid #ECECEC;
  cursor: pointer;
  @media (min-width: @tablet-width){
    margin-top: 140px;
  }
  @media (min-width: @desktop-width){
    margin-top: 36px;
  }
}
.catalog__card-product:hover .catalog__card-product-inner {
  box-shadow:
  0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__card-product-price{
font-weight: 700;
font-size: 15px;
line-height: 24px;
}

.card-product-curt{
background-color: transparent;
border: none;
cursor: pointer;
}
.catalog__card-product-img{

  fill: #000000;
  opacity: 0.2;
  cursor: pointer;
}
.catalog__card-product-img:hover {
fill: @green;
opacity: 1;
}
.catalog__card-product-img:active{
  opacity: 0.3;
}

