.catalog {
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.catalog__card-product {
  margin-bottom: 50px;
  display: grid;
  gap: 0;
  border: 1px solid #ECECEC;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    margin-top: 44px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 316px;
    margin-top: 0;
  }
}

.catalog__card-product-photo {
  object-fit: cover;
  min-width: 260px;

  @media (min-width: @tablet-width) {
    max-width: 334px;

  }

  @media (min-width: @desktop-width) {
    max-width: 316px;
    min-height: 462px ;
  }
}


.catalog__card-product-inner {
  max-width: 260px;
  padding: 21px 27px 27px;
  min-height: 179px;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    max-width: 334px;
    padding: 25px 31px;

  }

  @media (min-width: @desktop-width) {
    max-width: 316px;
    min-height: 197px;
    padding: 27px;
  }
}

.catalog__card-product-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.catalog__card-product-title:hover {
  opacity: 0.6;
}

.catalog__card-product-title:active {
  opacity: 0.3;
}

.catalog__card-product-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin-top: 6px;
  margin-bottom: 0;
  @media (min-width: @tablet-width) {

  }
}

.catalog__card-product-price__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid #ECECEC;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-top: 174px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
  }
}

.catalog__card-product:hover .catalog__card-product-inner {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__card-product:active .catalog__card-product-inner {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog__card-product-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.catalog__card-product-curt {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog__card-product-img {

  fill: #000000;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    fill: @green;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
