
.comment{
  @media (min-width: @tablet-width){
  background-image: url("../img/tablet/commment/review.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50%;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/commment/review@2x.jpg");
      background-size: 46%;
      padding-bottom: 33px;
    }
    @media (min-width: @desktop-width){
      margin-left: 78px;
      margin-right: 50px;
      background-size: 350px 457px;
      padding-bottom: 90px;
    }
  }
}
.comment__inner{
  position: relative;
  margin-top: 58px;
  padding: 0 30px;
  @media (min-width: @tablet-width){
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 66px;
  }
  @media (min-width: @desktop-width){
    margin-top: 90px;
    margin-left: 174px;
    margin-right: 27px;
    column-gap: 280px;
}
}


.comment__title{
  margin-top: 50px;
  margin-bottom: 13px;
  @media (min-width: @tablet-width){
    margin-top: 82px;
    grid-column: 1/2;
  }
  

}

.comment__text{
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444;
  @media (min-width: @tablet-width){
    margin-top: 15px;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 17px;

  }
}
.comment__info-respondent{
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 33px;
  margin-bottom: 0;
  @media (min-width: @tablet-width){

   font-size: 18px;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 45px;
  }
  @media (min-width: @desktop-width){
    margin-top: 25px;
  }
}
.comment__info-respondent-mail{
  margin-top: 5px;
}
.comment__slider-pagination{
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-grow: 1;

  @media (min-width: @tablet-width){
    grid-row: 3/4;
    grid-column: 2/3;
    width: 200px;
    margin-top: 10px;
    margin-left: 140px;



  }
}
.comment__pagination-arrow{
display: block;
width: 130px;
height: 52px;
border: 1px solid #ECECEC;
@media (min-width: @tablet-width){

}
}

.comment__button{
  margin-top: 38px;
  margin-bottom: 45px;
  align-items: center;
  @media (min-width: @tablet-width){

    width: 177px;
    margin-top: 77px;
    margin-bottom: 27px;
    padding: 15px 30px;
    margin-left: 165px;


  }


  @media (min-width: @tablet-width){
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.slider-pagination-arrov {
  display: block;
  margin: 12px auto;
}

.slider__next-arrow {
  transform: rotate(-180deg);
}

.comment__pagination-arrow:hover .slider-pagination-arrov{
opacity: 0.6;
}
.comment__pagination-arrow:active .slider-pagination-arrov{
opacity: 0.3;
}

.comment__slide2,
.comment__slide3 {
  display: none;
}
