.contacts{
  margin-top: 38px;

  @media (min-width:@desktop-width){
    margin-top: 67px;
  }
  @media (min-width:@desktop-width){
    margin-top: 71px;
    display: grid;
    grid-column: 1fr 1fr;
    column-gap: 30px;
  }
}


.contacts__title{
  margin-top: 38px;
  @media (min-width:@desktop-width){
    margin-left: 200px;
  }
}

.card-contacts{
  max-width: 320px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 5px;
  @media (min-width:@desktop-width){

  }
}
.contacts__card-contacts{
  @media (min-width:@tablet-width){
   display: flex;

  }
  @media (min-width:@desktop-width){
    max-width: 320px;
    flex-direction: column;
    margin-left: 200px;
  }
}
.contacts-adress{

  @media (min-width:@tablet-width){
  margin-left: 25px;
}
@media (min-width:@desktop-width){
  margin-left: 0;
}
}
.item-mail{
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid @green;
  padding-bottom: 3px;
}
.item-mail:hover{
  color: @green;
}
.item-mail:active {
  border: none;
}


.contacts__map{
  margin-right: 0;
  @media (min-width:@tablet-width){
    width: 100%;
  }

  @media (min-width:@desktop-width){
    width: 527px;
    height: 457px;
    grid-column: 2/3;
    grid-row: 1/4;

  }
}
.contacts__map iframe{
  display: block;
  border: none;
}
.card-contacts-link{
  display: block;
  max-width: 230px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 16px 37px;
  align-self: center;
  @media (min-width:@tablet-width){
    margin-left: 219px;
    max-width: 176px;
  }

  @media (min-width:@desktop-width){
    margin-left: 175px;
  }

}
