.footer{
  position: relative;
  background-color: #F1F1F1;
  padding: 27px 39px;
  margin-top: 40px;
  @media (min-width:@tablet-width){
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    max-height: 143px;
    padding: 41px 50px 50px;

  }
  @media (min-width:@desktop-width){
    margin-top: 56px;
    padding-left: 70px;
    padding-right: 70px;
    

}
}
.social-links::before {
  position: absolute;
  content: "";
  display: block;
  width: 65% ;
  left: 40;
  border-bottom: 1px solid #E5E5E5;
  top: 50%;
  @media (min-width:@tablet-width){
    display: none;
}
}
.footer__social-links{

  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0 auto 35px;
  list-style-type: none;
  @media (min-width:@tablet-width){
    margin: 0;
    align-items: flex-end;
  }
}


.social-links__social-link{
  text-decoration: none;
}
.footer__logo{
  display: none;
  cursor: pointer;
  @media (min-width:@tablet-width){
    display: block;
  }
}
.footer__academy{
  @media (min-width:@tablet-width){
    width: 180px;

  }
}


//--------------зеленые svgшки----------------..
.logo__img{
 fill: #000000;
  }

&:hover {
  fill: #46C1AE;
}

&:active {
  fill:#63D1BB;
  opacity: 0.3;
}

.footer__academy {

  margin: 0 auto;
  @media (min-width:@tablet-width){
    margin: 0;
  }
}
.footer__academy-link{
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-left: 30px;
  @media (min-width:@tablet-width){
   margin: 0;
   align-items: center;
  }
  @media (min-width:@desktop-width){

  }
}
.footer__academy-logo{
  fill:#63D1BB;
  margin-left: 30px;
  padding-top: 10px;
  @media (min-width:@tablet-width){
    margin-left: 25px;
  }
}

&:hover {
  fill: #46C1AE;
}

&:active {
  fill:#63D1BB;
  opacity: 0.3;
}
