.main-nav {
  display: none;

  @media (min-width:  @tablet-width) {
  display: block;
  }
}
.main-nav__menu-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
@media (min-width:  @tablet-width) {

}
}
.main-nav__menu-list.menu-list__1{
  display: none;
  @media (min-width:  @tablet-width) {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 20px;
  background-color: rgba(250, 250, 250, 1);
  border-top: 1px solid #ECECEC;
}
@media (min-width:  @desktop-width) {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: transparent;
  border: none;
}
}
.main-nav__menu-list-link.link__1{
  @media (min-width:  @tablet-width) {
    font-size: 15px;
  }
  @media (min-width:  @desktop-width) {
    font-size: 17px;
  }

}
.main-nav__menu-list.menu-list__2{
  display: none;
  @media (min-width:  @desktop-width) {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgba(250, 250, 250, 1);
  border-top: 1px solid #ECECEC;
  padding-top: 20px;
  }
}
.main-nav__menu-list.menu-list__3{
  display: none;

  @media (min-width:  @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 2/4;
    grid-row: 1/2;
    border: 1px solid #ECECEC;
    padding: 32px;
  }
  @media (min-width:  @desktop-width) {
    border: none;
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
.main-nav__menu-list-link.link__2{
  @media (min-width:  @desktop-width) {
  font-size: 15px;
}
}
.main-nav__menu-list-item{
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.main-nav__menu-list-item a[href]{
  @media (min-width: @tablet-width){
    &:hover {
      opacity: 0.6;
    }
    &:active{
      opacity: 0.3;
    }
  }
}

.main-nav__menu-list-item.list-item__3{
  @media (min-width: @tablet-width){

  }

  @media (min-width:  @desktop-width) {
  background-color: rgba(250, 250, 250, 1);
  padding-top: 20px;
}
}
.main-nav__menu-list-link.search-link {

  @media (min-width: @tablet-width) {
    display: none;
    width: 60px;

  }
}
.main-nav_subtitle{
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: rgba(250, 250, 250, 1);
  border-top: 1px solid #ECECEC;
  margin: 0;
  padding-top: 20px;
  text-align: right;
}
@media (min-width:  @desktop-width) {
  grid-column: 2/4;
grid-row: 2/3;
}
}

/*------------окно навигации бургера---
.menu-list__3~.search-link,
.menu-list__3~.busket-link {
position: relative;
display: block;
}
.header__nav--opened .burger-menu,
.header__nav--opened .main-nav {
  order: -1;
  display: flex;
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
}

.header__nav--opened.main-nav__menu-list-item {
  margin: 0 auto;
  padding: 27px auto;
  border: 1px solid #ECECEC;
}
.header__nav--closed .burger-menu,
.header__nav--closed .main-nav {
  display: none;
}
*/


