.main-nav {
  position: relative;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.menu-list-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 19px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 85px;
    padding-top: 6px;
  }
}
