.modal{
   display: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 28px 30px 40px 30px;
    background-color: #ffffff;
    border: 1px solid #C6C6C6;
    box-shadow: 0 5 10 0 rgba(0, 1, 1, 0.25);
}
.modal__title{

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}
.modal__subtitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
.modal__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 21px;
}
.sizes__item{
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    border:  1px solid #C6C6C6;
    padding: 18px 28px;
}
.modal__button{
    margin-top: 31px;
    flex-grow: 1;
}
.green-button{
    width: 260px;
    box-sizing: border-box;
    padding: 18px 68px;
    background-color: @green;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
