.page {
  box-sizing: border-box;
  height: 100%;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.page__container {
  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px;
  }
}
