.page{
  height: 100%;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  min-width: 320px;
}

.page__container {
  padding: 0 30px;
  @media (min-width:  @tablet-width) {
   padding: 0 50px;
   margin: 0 auto;
  }
}
