html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  margin: 0;
}

.page__container {
  margin: 0 auto;
  padding: 0 30px;
  min-width: 380px;

  @media (min-width:@tablet-width) {
    max-width: 740px;
    padding: 0 50px;
  }
  @media (min-width:@desktop-width) {
    max-width: 1170px;
    padding: 0 70px;
  }

}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
//-------------картинки---------------//
img {
  max-width: 100%;
  height: auto;
}
//----------------список обнуление------------//
.list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: #000;
}
//-----------кнопка-------//
.button {
  width: 260px;
  box-sizing: border-box;
  color: #444;
  border: 2px solid #444;
  padding: 16px 65px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background-color: #fff;
  cursor: pointer;
}
.button:hover  {
  background-color: rgba(68, 68, 68, 1);
  color:#fff;
  opacity: 1;
}
.button:active {
  font-size: 17px;
  color: #7C7C7C;
}


//--------------заголовок---------------//
.title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  @media (min-width: @tablet-width){
    font-size: 43px;
    line-height: 50px;
  }
  @media (min-width: @desktop-width){
    font-size: 53px;
    line-height: 57px;
  }
}

